*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}
.dark .bg{
  background-position: left;
}
html{
  scroll-behavior: smooth;
}
.bg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("../img/bg.png") no-repeat;
  background-position: right;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}
.btn-bg{
  width: 80px;
  height: 30px;
  background-image: url(../img/light-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 30px;
  padding: 2px 2px 0px 2px;
  transition: all 300ms ease-in-out;
  box-shadow: 5px 5px 10px -5px #000;
  cursor: pointer;
  z-index: 10;
}
.btn-bg > .btn-for{
  width: 30px;
  height: 30px;
  background-image: url(../img/sun-btn.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
#mode-btn{
  transition: all 0.3s ease-in-out;
}
#mode-btn.active > .btn-bg > .btn-for{
  float: right;
  background-image: url(../img/moon-btn.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#mode-btn.active > .btn-bg{
  background-image: url(../img/dark-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}